<mat-card>
    <mat-card-title>Contact Management</mat-card-title>
    <div class="row">
        <button mat-raised-button color="primary" (click)="createContact()">Add Contact</button>
        <button mat-raised-button color="primary" (click)="updateContact()">Update Contact</button>
        <button mat-raised-button color="primary" (click)="deleteContact()">Delete Contact</button>
    </div>
</mat-card>
<br>
<mat-card>
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="selectedRow(row)" [ngClass]="{'highlight': selectedRowIndex === row.phoneNumber}"
            *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>