<create-contact *ngIf="mode === 'create'" (savedContactInfo)="savedContact($event)" (mode)="changeMode('view')">
</create-contact>

<ng-container *ngIf="mode === 'view'">
    <div class="row">
        <button mat-raised-button color="primary" (click)="changeMode('create')">Add Contact</button>
        <button mat-raised-button color="primary" (click)="editContact()">Update Contact</button>
        <button mat-raised-button color="primary" (click)="deleteContact()">Delete Contact</button>
    </div>
    <div>
        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-blue" (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs" [rowData]="contactInfos" rowSelection="single" pagination="true"
            paginationPageSize=10 (dataChanged)="onrowValueChanged($event)">
        </ag-grid-angular>
    </div>
</ng-container>


<!-- (selectionChanged)="onSelectionChanged($event)" (cellEditingStopped)="onCellEditingStopped($event)" -->