<mat-card>
    <h2>Contact Infomation System</h2>
    <div class="button-row">
        <button mat-raised-button color="primary" (click)="addContactInfo()">Add</button>
        <button mat-raised-button color="primary" (click)="viewContactInfo()">View</button>
    </div>

    <div class="containerDiv">
        <div *ngIf="mode==='create'">
            <create-contact (savedContactInfo)="createUpdateContact($event)" [updateContactData]="updateContactData"
            [allPhoneNumber]="allPhoneNumber">
            </create-contact>
        </div>
        <div *ngIf="mode==='view'">
            <contact-information-view [allContactInfo]="allContactInfo" (selectedRowData)="updateContact($event)">
            </contact-information-view>
        </div>
    </div>
</mat-card>