<mat-card>
    <mat-card-header>
        <mat-card-title>Create Contact</mat-card-title>
    </mat-card-header>
    <h3 *ngIf="showError">Same Phone Number Exists!!</h3>
    <form [formGroup]="contactInfo">
        <table>
            <tr *ngFor="let row of data">
                <td>
                    <mat-label>{{row.labelName}}</mat-label>
                </td>
                <td>
                    <ng-container *ngIf="row.fieldType !== 'drop_down'">
                        <mat-form-field appearance="outline">
                            <input type="{{row.fieldType}}" matInput id="{{row.id}}" maxlength="{{row.maxLength}}"
                                formControlName="{{row.id}}">
                            <mat-error *ngIf="row.id">Vaid {{row.labelName}} is Required</mat-error>
                        </mat-form-field>
                    </ng-container>
                    <mat-form-field *ngIf="row.fieldType === 'drop_down'" appearance="outline">
                        <mat-select formControlName="{{row.id}}">
                            <mat-option *ngFor="let option of row.options" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="row.id">Vaid {{row.labelName}} is Required</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="row">
                        <button mat-raised-button [disabled]="!contactInfo.valid" color="primary" type="submit"
                            (click)="onSubmit()">Save</button>
                        <button mat-raised-button [disabled]="!contactInfo.touched" type="cancel"
                            (click)="cancel()">Close</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</mat-card>